/* HEAD*/
.titleSpace{
    background-color: rgb(0, 0, 0, 0.85);
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 2vw;
}

#titleText {
    color: white;
}

/* BODY */

/* Text components */
.left {
    margin: 0;
    float: left;
}

.right {
    margin: 0;
    float: right;
}

.noMargin {margin: 0;}

#loan, #loanBalance {display: none;}

#features {font-size: 12px;}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1vw;
}

#pcPrice {
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 20%;
}

/* Buttons */
.buttonGen {
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    border-style: double;
    font-weight: bold;
    
    height: 4vw;
    width: 24vw;   
    position: absolute;
    bottom: 2vw ;
}

#buttonPayBack {
    background-color: rgb(255, 131, 131);
    border-color: rgb(204, 16, 16);
    display: none;

    bottom: 7vw ;
}

#buttonLoan {
    background-color: rgb(173, 253, 130);
    border-color: rgb(79, 165, 33);
}

#buyLaptop{
    background-color: rgb(255, 168, 236);
    border-color: rgb(200, 63, 170);
}

#buttonBank{
    background-color: rgb(255, 255, 148);
    border-color: rgb(219, 203, 77);

    width: 11vw;    
    left: 2vw;
}

#buttonWork {
    background-color: rgb(101, 139, 255);
    border-color: rgb(22, 67, 202);

    width: 11vw;    
    right: 2vw;
}

/* Upper boxes */

.bigBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.subBox {
    border-radius: 25px;
    background-color:rgba(255, 253, 251, 0.9);
    box-sizing: border-box;
    padding: 2vw;
    width: 28vw;
    height: 26vw;
    position: relative;
}

.subBoxU {
    height: 32vw;
}

/* Bottom boxes */

#boxB {
    border-radius: 25px;
    align-items: center;
    background-color: rgba(255, 253, 251, 0.9);
    height: 26vw;
}

#subBoxB1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subBoxB2 {
    width: 38vw;
}

/* Selects */
#laptops{
    margin-bottom: 1vw;
}

/* Images */
#laptopImage {
    width:23vw;
    border-radius: 4px;
}

/* General layout */
body {
    background-color:rgb(233, 232, 232);
}